<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">

        <div *ngIf="this.thisExist" class="mt-1 text-4xl sm:text-4x1 font-extrabold tracking-tight leading-tight">
            Editar Rota
        </div>
        <div *ngIf="!this.thisExist" class="mt-1 text-4xl sm:text-4x1 font-extrabold tracking-tight leading-tight">
            Cadastro de Novo Rota
        </div>

        <form class="flex-auto md:flex-auto sm:flex-auto mt-8 p-4 bg-card shadow rounded overflow-hidden"
              [formGroup]="rotaForm" (ngSubmit)="salvar()">

            <div class="grid md:grid-cols-3 gap-2 sm:grid-cols-1">
                <mat-form-field>
                    <mat-label>Selecione um Depósito para Rota</mat-label>
                    <mat-select formControlName="deposito">
                        <mat-option *ngFor="let deposito of depositos" [value]="deposito.id">{{deposito?.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Selecione um Cliente para Rota</mat-label>
                    <mat-select formControlName="cliente">
                        <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente?.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Selecione um Entregador para Rota</mat-label>
                    <mat-select formControlName="entregador">
                        <mat-option *ngFor="let entregador of entregadores" [value]="entregador.id">{{entregador?.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex justify-end">
                <button
                        class="px-8 mr-2"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        [routerLink]="['/entregas/rota']">
                    Sair
                </button>
                <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="botaoSalvarDesabilitado"
                        type="submit">
                    Salvar
                </button>
            </div>
        </form>

    </div>

</div>
