<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div class="mt-1 text-4xl sm:text-4xl font-extrabold tracking-tight leading-tight">
            Clientes
        </div>

        <div class="overflow-x-auto flex justify-between items-center p-2">
            <div class="flex-initial w-32">
                <a mat-flat-button class="min-w-full" color="primary"
                   [routerLink]="['/cadastros/cliente/cadastro']">
                    <mat-icon>add</mat-icon>
                    Novo
                </a>
            </div>

            <div class="flex-initial w-64">
                <mat-form-field class="min-w-full">
                    <mat-label>Filtrar</mat-label>
                    <input matInput type="text" (keyup)="filtrar($event)">
                </mat-form-field>
            </div>
        </div>

        <div class="grid-cols-12 mb-5">
            <fuse-alert
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="true"
                    [dismissible]="true"
                    [type]="alert.type"
                    [@shake]="alert.type === 'success'">
                {{alert.message}}
            </fuse-alert>
        </div>
        <div *ngIf="!isEmptyList">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%" matSort>
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="nome"> Nome</th>
                    <td mat-cell *matCellDef="let cliente">{{cliente.nome}}</td>
                </ng-container>

                <ng-container matColumnDef="cpfCnpj">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="cpfCnpj"> Cpf / Cnpj</th>
                    <td mat-cell *matCellDef="let cliente">{{cliente.cpfCnpj}}</td>
                </ng-container>

                <ng-container matColumnDef="telefone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="telefone"> Telefone</th>
                    <td mat-cell *matCellDef="let cliente">{{cliente.telefone}}</td>
                </ng-container>

                <ng-container matColumnDef="opcoes">
                    <th mat-header-cell *matHeaderCellDef>Opções</th>
                    <td mat-cell *matCellDef="let cliente">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opções">
                            <mat-icon>reorder</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item [routerLink]="editar(cliente.id)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item (click)="deletar(cliente)">
                                <mat-icon>delete</mat-icon>
                                <span>Deletar</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
        <div *ngIf="isEmptyList">
            <div class="flex flex-col items-center justify-center h-full">
                <h2 class="flex mt-1 text-4xl sm:text-4xl font-extrabold tracking-tight leading-tight">Não há clientes cadastrados</h2>
            </div>
        </div>
    </div>

</div>
