<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">

        <div *ngIf="this.thisExist" class="mt-1 text-4xl sm:text-4x1 font-extrabold tracking-tight leading-tight">
            Editar Deposito {{this.depositoForm.get("nome").value}}
        </div>
        <div *ngIf="!this.thisExist" class="mt-1 text-4xl sm:text-4x1 font-extrabold tracking-tight leading-tight">
            Cadastro de Novo Deposito
        </div>

        <form class="flex-auto md:flex-auto sm:flex-auto mt-8 p-4 bg-card shadow rounded overflow-hidden" [formGroup]="depositoForm" (ngSubmit)="salvar()">

            <div class="grid md:grid-cols-3 gap-2 sm:grid-cols-1">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>CNPJ</mat-label>
                    <input matInput formControlName="cnpj" [mask]="cnpjmask" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="telefone" [mask]="telmask" required>
                </mat-form-field>
            </div>

            <div class="mt-1 text-2xl sm:text-2x1 font-extrabold tracking-tight leading-tight">
                Endereço
            </div>

            <div class="grid md:grid-cols-3 gap-2 sm:grid-cols-1">
                <mat-form-field>
                    <mat-label>Logradouro</mat-label>
                    <input matInput formControlName="logradouro" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Número</mat-label>
                    <input matInput formControlName="numero"  type="number" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Bairro</mat-label>
                    <input matInput formControlName="bairro">
                </mat-form-field>
            </div>

            <div class="grid md:grid-cols-3 gap-2 sm:grid-cols-1">
                <mat-form-field>
                    <mat-label>CEP</mat-label>
                    <input matInput
                           mask="00000-000"
                           [dropSpecialCharacters]="false"
                           formControlName="cep" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Município</mat-label>
                    <input matInput formControlName="municipio" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="estado" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="longitude" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="latitude" required>
                </mat-form-field>
            </div>

            <div class="flex justify-end">
                <button
                        class="px-8 mr-2"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        [routerLink]="['/cadastros/deposito']">
                    Sair
                </button>
                <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="botaoSalvarDesabilitado"
                        type="submit">
                    Salvar
                </button>
            </div>
        </form>

    </div>

</div>
