<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">

        <div class="mt-1 text-9xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center mt-50">
            Fornecedores
        </div>

    </div>

</div>
