<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">

        <div *ngIf="this.thisExist" class="mt-1 text-4xl sm:text-4x1 font-extrabold tracking-tight leading-tight">
            Editar Entregador {{this.entregadorForm.get("nome").value}}
        </div>
        <div *ngIf="!this.thisExist" class="mt-1 text-4xl sm:text-4x1 font-extrabold tracking-tight leading-tight">
            Cadastro de Novo Entregador
        </div>

        <form class="flex-auto md:flex-auto sm:flex-auto mt-8 p-4 bg-card shadow rounded overflow-hidden"
              [formGroup]="entregadorForm" (ngSubmit)="salvar()">

            <div class="grid md:grid-cols-3 gap-2 sm:grid-cols-1">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>CPF</mat-label>
                    <input matInput formControlName="cpf" [mask]="cpfmask" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="telefone" [mask]="telmask" required>
                </mat-form-field>
            </div>

            <div class="mt-1 text-2xl sm:text-2x1 font-extrabold tracking-tight leading-tight">
                Identificação do veículo e Localização
            </div>

            <div class="grid md:grid-cols-3 gap-2 sm:grid-cols-1">
                <mat-form-field>
                    <mat-label>Placa do veículo</mat-label>
                    <input matInput formControlName="placaVeiculo" [mask]="placamask" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Longitude Agora</mat-label>
                    <input matInput formControlName="longitudeAgora" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Latitude Agora</mat-label>
                    <input matInput formControlName="latitudeAgora" required>
                </mat-form-field>
            </div>

            <div class="flex justify-end">
                <button
                        class="px-8 mr-2"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        [routerLink]="['/cadastros/entregador']">
                    Sair
                </button>
                <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="botaoSalvarDesabilitado"
                        type="submit">
                    Salvar
                </button>
            </div>
        </form>

    </div>

</div>
